version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    environment:
      DB_HOST: db
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_NAME: mydb
      PORT: 5000
    depends_on:
      - db
    networks:
      - app_network
    ports:
      - "5000:5000"

  frontend:
    build: ./metagrowths
    container_name: frontend_app
    restart: always
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./metagrowths/dist:/usr/share/nginx/html   # frontend build mount
      - ./nginx/cf_origin.crt:/etc/ssl/certs/cf_origin.crt # Sertifika dosyası
      - ./nginx/cf_origin.key:/etc/ssl/private/cf_origin.key # Özel anahtar dosyası
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
